/* header */
#cabecalho{
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    background-color:#64232B;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}

/* header */
#titulo-principal{
    margin-left: 30px;
    align-items: center;
    color:#D9A956;
}

/* header - barra de navegacao */
.nav-bar{
    display:flex;
    flex-direction:row;
    margin-right: 30px;
}

/* header - design das divs da nav bar*/
.nav-bar div{
    margin-left: 30px;
    font-weight: bold;
}

/* barra de pesquisa */
.nav-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
    display: flex;
  }

/* header */
.anchor-navbar{
    color:#F1EEE3;
}

/* links para perfil e carrinho */
#link-perfil{
    padding: 10px;
    height: 30px;
}

#link-carrinho{
    padding: 10px;
    height: 30px;
}

.engolba-pg{
    background-color: #AF9676;
    margin-top: 150px;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

.cabecalho{
    background-color: #654A35;
    margin-top: 150px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* links para cada pagina especifica da comida */
.anchor-comida{
    color: #F1EEE3;
    padding: 10px;
    font-size: 25px;
}

.cabecalho{
    display: flex;
    padding: 10px;
    justify-content:center
}

.comida-destaque{
    color: #D9A956;
    padding: 10px;
    font-size: 25px;
}

.texto-cadapio{
    font-size: 20px;
    margin-left: 10px;
    color: #654A35;
}

.cadapio {
    padding: 20px;
}

.refeicao {
    display: flex;
    border: 1px solid #654A35;
    margin-bottom: 10px;
}

.imagem-refeicao {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
}

.detalhes-refeicao {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tipo-comida {
    color: #64232B;
    font-size: 14px;
}

.nome-refeicao {
    margin: 5px 0;
    font-size: 18px;
}

.preco-refeicao {
    color: #F1EEE3;
    font-weight: bold;
    font-size: 16px;
}

/* adicionar produto ao carrinho - cliente */
.botao-adicionar-carrinho{
    height: 80px;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
    margin-left:auto;
    margin-right: 20px;
    margin-top: 10px;
}

.botao-adicionar-carrinho:hover{
    background-color: #D9A956;
}
