body {
    background-image: url('https://media.takealot.com/covers_tsins/44462921/44462921-1-zoom.jpg');
    background-size: cover; 
    background-position: center 20%; /* ajusta a disposição da imagem */
}

.engloba-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #64232B;
    position: absolute;
    margin-top: 2%;
    left: 50%; /* dispor a faixa no centro da tela */
    transform: translateX(-50%);
    height: 90%;
    width: 40%; /* ajustar largura da faixa central */
    padding: 20px;
    box-sizing: border-box;
    border-radius:5%;
}

.restaurante-login{
    margin-top:-10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nome-restaurante{
    color: #D9A956;
}

#subtitulo-restaurante{
    color: #F1EEE3;
}

.login{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    color: #D9A956;;
}

.titulo{
    padding: 15px;

}

.campo{
    padding: 5px;
    display:flex;
    flex-direction: column;
}
.label{
    font-size: 30px;
}
#nome,#senha,#senha-nova,#email {
    padding:8px;
    width:300px;
}

.cadastrar{
    background-color: #D9A956;
    padding:10px;
    width:25%;
    color:#64232B;
    font-weight: bold;
    cursor: pointer;
}
.cadastrar:hover{
    color:#ffe6bb;
    transition: 0.5s;
}